* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
    background: linear-gradient(135deg, #6635da 0%, #f63b99 100%);
  color: #fff; 
}



.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("assets/bg.webp") no-repeat;
  background-size: cover;
  background-position: center;
}
